nav {
  width: 100vw;
  top: 0;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
.input-group .input-group-append .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bi-volume-up-fill {
  font-size: 30px;
  color:white;
}
