<nav class="navbar navbar-light bg-none p-3">
    
    <div class="row w-100 d-flex align-items-center">
      <div class="col-4 col-md-6">
        <i class="bi bi-volume-up-fill"></i>
      </div>

      <div class="col-8 col-md-6">
        <div class="bg-light bg-opacity-25 text-white rounded p-1 row">
          <div class="col">Your Funds</div>
          <div class="col d-flex justify-content-end">
            <i class="bi bi-coin"></i>
            <span class="ms-3">100</span>
          </div>
        </div>

      </div>
    </div>
</nav>