:host {
  height: 100%;
  max-width: 400px;
  min-width: 390px;
  max-height: 300px;
  padding-bottom:20px;
}

.glowing-text-red {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #ffffff, 0 0 3px #d71e1e, 0 0 15px #ffffff,
    0 0 30px #d71e1e, 0 0 60px #d71e1e, 0 0 100px #d71e1e; 
}

.glowing-text-blue {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #ffffff, 0 0 3px #401ed7, 0 0 15px #ffffff,
    0 0 30px #401ed7, 0 0 60px #401ed7, 0 0 100px #401ed7; 
}

.pill-img {
  width: 75px;
  height: 75px;
  animation: rotateBackAndForth 4s infinite ease-in-out;
}

#option-red {
  position: absolute;
  bottom: 0;
  right: -5px;
  margin-bottom: 30px;
  width: 80px;
}

#option-blue {
  position: absolute;
  bottom: 0;
  left: -5px;
  margin-bottom: 30px;
  width: 80px;
}

.spin-infinite {
  animation: spin .2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateBackAndForth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}