<div class="row">
  <div class="col p-0 position-relative">
    <div style="position: absolute; bottom:0; right:-5px; margin-bottom:50px">
        <img
        class="d-block"
        src="images/red-pill.png"
        alt="Blue Pill"
        style="width: 75px; height: 75px"
      />
      <div class="d-block mt-2 glowing-text-red ">RED PILL</div>
    </div>
  </div>
  <div class="col d-flex justify-content-center align-items-start">
    <img
      src="images/placeholder.png"
      alt="Placeholder image"
      style="width: 140px; height: 140px; margin-bottom:130px;"
    />
  </div>
  <div class="col p-0 position-relative">
    <div style="position: absolute; bottom:0; left:-5px; margin-bottom:50px">
        <img
        class="d-block"
        src="images/blue-pill.png"
        alt="Blue Pill"
        style="width: 75px; height: 75px"
      />
      <div class="d-block mt-2 glowing-text-blue ">BLUE PILL</div>
    </div>
</div>
